/* LIGHT MODE - AMBER-SALMON OVERRIDE  */
:root.theme-amber {
  --theme-hue: 40.0; 

  --bg-stripes-light-chroma: 0.030;
  --textHoverHeader: var(--color-orange-600);
  --cor2-dinamica: var(--color-orange-500);
  --primary: var(--color-orange-500);
  --accent: var(--color-orange-50);
  --accent-foreground: var(--color-orange-950);
  --ring: var(--color-orange-400);
  --sidebar-primary: var(--color-orange-500);
  --sidebar-ring: var(--color-orange-400);
}

/* DARK MODE - AMBER-SALMON OVERRIDE */
:root.dark.theme-amber {
  --theme-hue: 40.0;
  --bg-stripes-dark-chroma: 0.060;
  --textHoverHeader: var(--color-orange-300);
  --cor2-dinamica: var(--color-orange-500);
  --primary: var(--color-orange-400);
  --accent: var(--color-orange-950);
  --accent-foreground: var(--color-orange-100);
  --ring: var(--color-orange-400);
  --sidebar-primary: var(--color-orange-400);
  --sidebar-ring: var(--color-orange-400);
}