/* LIGHT MODE - PINK OVERRIDE */
:root.theme-pink {
  --theme-hue: 345.2;
  
  /* Turbinando o Chroma (segundo parâmetro) para o rosa aparecer no fundo claro */
  --bg-stripes-light-chroma: 0.025; 
  
  /* Deixando o dark mode do Pink um roxo-rosado um pouco mais aceso e vivo */
  --bg-stripes-dark-chroma: 0.08;   

  --textHoverHeader: var(--color-pink-600);
  --cor2-dinamica: var(--color-pink-500);
  --primary: var(--color-pink-500);
  --accent: var(--color-pink-50);
  --accent-foreground: var(--color-pink-900);
  --ring: var(--color-pink-500);
  --sidebar-primary: var(--color-pink-500);
  --sidebar-ring: var(--color-pink-500);
}

/* DARK MODE - PINK OVERRIDE */
:root.dark.theme-pink {
  --theme-hue: 345.2;
  --bg-stripes-dark-chroma: 0.08;
  --textHoverHeader: var(--color-pink-300);
  --cor2-dinamica: var(--color-pink-500);
  --primary: var(--color-pink-400);
  --accent: var(--color-pink-950);
  --accent-foreground: var(--color-pink-100);
  --ring: var(--color-pink-400);
  --sidebar-primary: var(--color-pink-400);
  --sidebar-ring: var(--color-pink-400);
}