/* LIGHT MODE - PINK OVERRIDE */
:root.theme-pink {
  --theme-hue: 345;
  --bg-stripes-light-chroma: 0.02;

  --textHoverHeader: var(--color-pink-600);
  --cor2-dinamica: var(--color-pink-500);
  --primary: var(--color-pink-500);
  --accent: var(--color-pink-50);
  --accent-foreground: var(--color-pink-900);
  --ring: var(--color-pink-500);
  --sidebar-primary: var(--color-pink-500);
  --sidebar-ring: var(--color-pink-500);
}

/* DARK MODE - PINK OVERRIDE */
:root.dark.theme-pink {
  --theme-hue: 345;
  --bg-stripes-dark-chroma: 0.05;
  --textHoverHeader: var(--color-pink-300);
  --cor2-dinamica: var(--color-pink-500);
  --primary: var(--color-pink-400);
  --accent: var(--color-pink-950);
  --accent-foreground: var(--color-pink-100);
  --ring: var(--color-pink-400);
  --sidebar-primary: var(--color-pink-400);
  --sidebar-ring: var(--color-pink-400);
}
